<nav>
  <div class="nav-wrapper">
    <a routerLink="/home" class="brand-logo">Gallary</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down"> 
      
      <li>
          <div class="search-bar">
              <input type="search" id="search" placeholder="Search..." /><i class="material-icons">search</i>
          </div>
      </li>
      <li>
        <a><i class="material-icons prefix">search</i></a>
      </li>

      <li>
          <a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Catagory</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
              <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
             <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
          </ul>
      </li>
            
      <!--<li *ngIf="!loggined; then thenBlock else elseBlock"></li> 
        <ng-template #thenBlock>
         <a routerLink="/signup" class="waves-effect waves-light btn">Sign Up</a>
         <a routerLink="/login" class="waves-effect waves-light btn">Log In</a>
        </ng-template>
        <ng-template #elseBlock>
          <a (click)="logout()" class="waves-effect waves-light btn">Log Out</a>
        </ng-template>-->
        
        <li><a routerLink="/signup" class="waves-effect waves-light btn">Sign Up</a></li>
        <li><a routerLink="/login" class="waves-effect waves-light btn">Log In</a></li>
        <li><a (click)="logout()" class="waves-effect waves-light btn">Log Out</a></li>
    

         
      
    </ul>
  </div>
</nav>

<!--
<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{{url}}" class="breadcrumb">{{url}}</a>
      </div>
    </div>
</nav>-->