.search-bar {
    width: 300px;
    height: 64px;
}

.search-icon {
    width: 50px;
    height: 64px;
    margin-right: 20px;
}

.search-icon img {
    width: 150%;
    padding-top: 15px;
}

 #login .modal-footer, #signup .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  float: left;
}

#login label, #signup label {
    font-size: 20px;
}

#login input, #signup input {
    color: black;
}

.brand-logo {
    margin-left: 30px;
}