<nav>
  <div class="nav-wrapper">
    <a routerLink="/index" class="brand-logo">Gallary</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">       
      <li>
          <div class="search-bar">
              <input type="search" id="search" placeholder="Search..." /><i class="material-icons">search</i>
          </div>
      </li>
      <li>
        <a><i class="material-icons prefix">search</i></a>
      </li>

      <!--<li>
          <a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Catagory</a>
          <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
              <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
             <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
          </ul>
      </li>-->
            
      <!--<li *ngIf="!loggined; then thenBlock else elseBlock"></li> 
        <ng-template #thenBlock>
         <a routerLink="/signup" class="waves-effect waves-light btn">Sign Up</a>
         <a routerLink="/login" class="waves-effect waves-light btn">Log In</a>
        </ng-template>
        <ng-template #elseBlock>
          <a (click)="logout()" class="waves-effect waves-light btn">Log Out</a>
        </ng-template>-->
        
        <!--<li *ngIf="!loggin"><a routerLink="/signup" class="waves-effect waves-light btn">Sign Up</a></li>
        <li *ngIf="!loggin"><a routerLink="/login" class="waves-effect waves-light btn">Log In</a></li>
        <li *ngIf="loggin">
          <a (click)="logout()" class="waves-effect waves-light btn">Log Out</a>          
        </li>-->

        <!--<div *ngIf="condition as value; else elseBlock">{{value}}</div>
        <ng-template #elseBlock>...</ng-template>-->

        <ul id="slide-out" class="side-nav">
          <li>
            <div class="userView">
              <div class="background">
                <img src="../../../assets/images/high_tech-wallpaper-1920x1080.jpg">
              </div>
              <img *ngIf="imageUrl" class="circle" src="{{imageUrl}}">
              <a *ngIf="user" href="#!name"><span class="white-text name">{{user.name}}</span></a>
              <a *ngIf="user" href="#!email"><span class="white-text email">{{user.email}}</span></a>
            </div>
          </li>
          <li>
          <li *ngIf="user; then thenBlock else elseBlock"></li>
            <ng-template #thenBlock>
              <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
              <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
              <li><div class="divider"></div></li>
              <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
              <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
              <li><a (click)="logout()" class="waves-effect waves-light btn">Upload Photo</a></li>
              <li><a (click)="logout()" class="waves-effect waves-light btn">Delete Account</a></li>
              <li><a (click)="logout()" class="waves-effect waves-light btn">Log Out</a></li>
            </ng-template>  
            <ng-template #elseBlock>
              <li><a routerLink="/signup" class="waves-effect waves-light btn">Sign Up</a></li>
              <li><a routerLink="/login" class="waves-effect waves-light btn">Log In</a></li>
            </ng-template>
         </ul>
          <a href="#!" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
     </ul>
  </div>
</nav>

<!--
<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{{url}}" class="breadcrumb">{{url}}</a>
      </div>
    </div>
</nav>-->