.search-bar {
    width: 200px;
    height: 50px;
    margin-right: 100px;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  font-size: 30px;
  float: left;
}