<div class="login-page">
  <div class="row">
    <form #loginForm="ngForm" class="col s12" (ngSubmit)="login(loginForm.value)">
      
      <div class="row">
          <div class="col s6 offset-s3 form-title valign-wrapper">
            Log In
          </div>
      </div>
      
      <div class="flash col s6 offset-s3">
          <flash-messages></flash-messages>
      </div>
          
      <div class="row">
        <div class="col s6 input-field offset-s3">
          <!-- email -->
          <i class="material-icons prefix">email</i>
          <input [(ngModel)]="email" name="email" type="email" class="validate" required 
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #emailCheck="ngModel">
            <label for="email">Email</label>
            <div class="flash col s12">
             <div [hidden]="emailCheck.valid || emailCheck.pristine">
                <div class="flash-message" [hidden]="!emailCheck.hasError('required')">Email is required</div>
                <div class="flash-message" [hidden]="!emailCheck.hasError('pattern')">i.e. <b>example@example.com</b></div>
             </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 input-field offset-s3">
          <!-- passowrd -->
          <i class="material-icons prefix">vpn_key</i>
          <input [(ngModel)]="password" name="password" type="password" class="validate" required #passwordCheck="ngModel">
            <label for="password">Password</label>
             <div class="flash col s12">
              <div class="flash-message" [hidden]="passwordCheck.valid || passwordCheck.pristine">Password is required</div>
             </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <!-- button -->
          <button type="submit" class="waves-effect waves-light btn" [disabled]="!loginForm.valid">Log in</button>
        </div>
      </div>
    </form>
  </div>
</div>