
  <div *ngIf="success; else elseBlock">
    <div class="row">  
<div *ngFor="let image of pagedItems" class="col m4">
      <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{image.img}}" align="middle">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 card-text">{{image.title}}<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4 card-text">{{image.title}}<i class="material-icons right">close</i></span>
        <div class="card-info">
          <span class="card-info">Provider : {{image.provider}}</span>
          <br>
          <span class="card-info">Upload time : {{image.time}}</span>
        </div>
        <div class="card-description">
          <p>{{image.description}}</p>
        </div>
        <div class="image-button">
          <a class="waves-effect waves-light btn" href="{{image.img}}" download>Download</a>
        </div>
      </div>
    </div>
</div>
</div>  

<div class="center-align">

<ul *ngIf="pager.pages && pager.pages.length" class="pagination">

    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)"><i class="material-icons">chevron_left</i></a>
    </li>
    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li class="waves-effect" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)"><i class="material-icons">chevron_right</i></a>
    </li>
</ul>
</div> 
  </div>
    <ng-template #elseBlock>
      <div class="noResult">
        <h3>NO RESULTS MATCHING {{query}}</h3>
      </div>
    </ng-template>


